<div class="row justify-content-center ">
    <div class="col-md-6 col-lg-4 ">
        <div class="banner banner-overlay banner-overlay-light ">
            <a href="">
                <img src="/assets/images/banners/i7.jpg " alt="Banner ">
            </a>
            <div class="banner-content ">
                <h4 class="banner-subtitle ">
                    <a href=""></a>
                </h4>
                <h3 class="banner-title ">
                    <a href="# "> <strong> <br> </strong></a>
                </h3>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4 ">
        <div class="banner banner-overlay banner-overlay-light ">
            <a href="">
                <img src="/assets/images/banners/i8.jpg " alt="Banner ">
            </a>
            <div class="banner-content ">
                <h4 class="banner-subtitle ">
                    <a href=""> </a>
                </h4>
                <h3 class="banner-title "><a href="# "><strong> </strong> <br></a></h3>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4 ">
        <div class="banner banner-overlay banner-overlay-light ">
            <a href="">
                <img src="/assets/images/banners/i10.jpg " alt="Banner ">
            </a>
            <div class="banner-content ">
                <h4 class="banner-subtitle ">
                    <a href=""></a>
                </h4>
                <h3 class="banner-title ">
                    <a href="# "> <strong> </strong> <br> </a>
                </h3>
            </div>
        </div>
    </div>
</div>